<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Formulario</title>
<link rel="stylesheet" href="/css/styles.css"></link>


</head>
<body>
<!-- MENU DE NAVEGACION  -->
	<header class="header">
		<div class="logo">
			
			<img alt="logoJava" src="../imagenes/java.png" width="60px" height ="60px">
			<h1>Formulario java </h1>
		</div>
		
		<nav>
			<ul class="nav-links">
				<li><a href="" class="btn_Iicio">Inicio</a><li/>
				<li><a href="#footer" class="btn_QS">Quienes Somos</a><li/>
			</ul>
		</nav>
	</header>
	
<!-- MENU Prinpical Formulario  -->
	<main id="cuerpoPrincipal">
		
		<form action="">
		<h1>Bienvenido</h1>
		<div class="input-group">
		
			<label for="dni" >DNI: </label>
			<input id="dni" type="number" required placeholder="Ingrese el DNI" name="dni"></input><br>
			<label for="nombres">Nombres: </label>
			<input id="nombres" type="text" required placeholder="Ingrese sus Nombres" name="Nombres"></input><br>
			<label for="apellidos">Apellidos: </label>
			<input id="apellidos" type="text" required placeholder="Ingrese su Apellido" name="Apellidos"></input><br>
			<label for="fechaNacimiento">Fecha de Nacimiento: </label>
			<input id="fechaNacimiento" type="date" required placeholder="Ingrese su fecha de nacimiento" name="fechaNaciemiento"></input><br>
			
			<div>
				<label>GENERO: </label><br>
				<label for="generoM">Masculino </label>
				<input id="generoM" type="radio" required name="genero"></input>
				<label for="generoF">Femenino </label>
				<input id="generoF" type="radio" required name="genero"></input>
				<label for="generoX">X </label>
				<input id="generoX" type="radio" required name="genero"></input><br>
				<br>
			</div>
			
			<label for="correoElectronico">Correo Electronico: </label>
			<input id="correoElectronico" type="email" required name="Correo Electronico" placeholder="Ingrese su Correo"></input><br>
			<label for="domicilio">Domicilio: </label>
			<input id="domicilio" type="text" required name="Domicilio" placeholder="Ingrese su  domicilio"></input><br>	
			<label for="correoElectronico">Provincia: </label>
			<select>
				<option value="jujuy"> Jujuy</option>
				<option value="salta" selected> Salta</option>
				<option value="Tucuman"> Tucuman</option>
				<option value="Chaco"> Chaco</option>
				<option value="Mendoza"> Mendoza</option>
			</select><br>
			<label for="correoElectronico">Telefono Celular: </label>
			<input id="correoElectronico" type="number" required name="correo" placeholder="Ingrese Telefono Celular"></input> <br>	
			<label> Categoria de Interes: </label>
						
			<div>
				<label for="gastronomia" >Gastronomia</label>
				<input id="gastronomia" name="interes" type="checkbox"></input>
				<label for="turismo">Turismo</label>
				<input id="turismo" name="interes" type="checkbox"></input>
				<label for="eventos">Eventos</label>
				<input id="eventos" name="interes" type="checkbox"></input>
				<label for="Exposicion">Exposiciones</label> 
				<input id="Exposicion" name="interes" type="checkbox"></input>
				
			</div>

			<label for= "sugerencias">Sugerencias: </label> <br>
			<textarea id ="sugerencias" placeholder="Ingrease Comentarios" name="Sujerencias" rows="8" cols="40"></textarea> <br>
			<label id="password">Password: </label>
			<input id="password" type="password" required name="contraseña" placeholder="Ingrese Contraseña" maxlength="10" min="2"></input> <br>
			<label id="passwordN">Password Nuevamente: </label>
			<input id="passwordN" type="password" required name="contraseña" placeholder="Ingrese Contraseña Nuevamente:" maxlength="10" ></input> <br>			
			
			<br>
			
			<label for="terminosyCondiciones">Acepto los términos y condiciones</label>
			<input id="terminosyCondiciones" name="interes" type="checkbox" required></input> <br>
			<label for="Informacion">Acepto recibir información relativa a la empresa</label> 
			<input id="Informacion" name="interes" type="checkbox" required ></input><br>
			
			<div class="button-container">
				<input class="btn_Cancelar" type="button" value="Cancelar"></input>
				<input class="btn_Guardar" type="submit" value="Guardar"></input>
			</div>
		</div>	
			
		</form>
	</main>
	
	<footer id="footer">
		<h3 class="footer_title">Quienes Somos</h3>
		<div class="container_Futer">
		
			<a href="https://www.facebook.com/manuelsantiago.mendoza.56/" target =“_blank”><img alt="facebook" src="../imagenes/logoFacebook.png" width="30px" height ="30px"> Facebook</a>
			<a href="https://www.linkedin.com/in/manuel-santiago-mendoza-354224237/" target =“_blank”><img alt="facebook" src="../imagenes/linkeding.png" width="30px" height ="30px"> Linkeding</a>
			<a href="https://www.instagram.com/p/B2pxvKsgGU7/" target =“_blank”><img alt="facebook" src="../imagenes/instagramlogo.png" width="30px" height ="30px"> Instagram</a><br>
						
		</div>
		<img alt="gmail" src="../imagenes/correo.png" width="30px" height ="30px" > manuumendozaa05@gmail.com
		<p class="desciptionF">2024 Mendoza Manuel Santiago LU:4236 | Todos los derechos Reservados</p> 	
	</footer>
</body>
</html>