<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Programacion en Java</title>
<link rel="stylesheet" href="/css/styles.css"></link>
</head>

<body>
	<header class="header">
		<div class="logo">
			<img alt="gmail" src="../imagenes/java.png" width="60px" height ="60px" >
			<h1>PROGRAMANDO CON JAVA</h1>
		</div>
		
		<!-- MENU DE NAVEGACION  -->
		<nav>
			<ul class="nav-links">
				<li><a href="#tiposD">Datos en Java</a></li>
				<li><a href="#metodos">Metodos</a></li>
				<li><a href="#nomenclatura">Nomesclatura Metodos</a></li>
				<li><a href="form-cliente.html">Formulario</a></li>
			</ul>
		</nav>
	
	</header>
	
	<main class="container_main">
		<!-- SECCIONES DENTRO DE LA PAGINA  -->
		<section class="section_s1" id="tiposD" >
			<h2>Tipos de Datos en Java: </h2>
			<h3>Datos Primitivos</h3>
			<p>Son definiciones dentro del lenguaje que no son objetos. Todos los tipos numéricos están
			firmados (esto significa que a pesar de no ser objetos representan el mismo tipo y alcance en
			cualquier plataforma que se ejecute). Para lograr esto, al definir una variable con un tipo
			primitivo, el lenguaje almacena en memoria un espacio de memoria, este espacio de memoria
			permite representar el rango de valores que se le puede asignar a la variable según el tipo de
			datos primitivo usado. Esto significa que al declarar una variable primitiva se asume que
			consumirá memoria, aunque no se la use desde el principio de ejecución del programa ya que
			se le asigna un espacio en memoria al momento de declararse. Los primitivos poseen valores
			por defecto y este valor depende del tipo de dato. </p>
			
			<h3>Ejemplo</h3>
			<table border="1" >
				<thead>
					<tr>
			            <th>Nombre</th>
			            <th>Declaracion</th>
			            <th>Nomenclatura de Metodos</th>
			        </tr>
				</thead>
						
				<tbody>
				
					<tr>
						<td>Boolean</td>
						<td>boolean</td>
						<td>Sirve para definir tipos de datos booleanos. Es decir, aquellos que tienen un valor de true o false. Ocupa 1 bit de información.</td>
					</tr>
					<tr>
						<td>Byte</td>
						<td>byte</td>
						<td>Representa un tipo de dato de 8 bits con signo. De tal manera que puede almacenar los valores numéricos de -128 a 127 (ambos inclusive).</td>
					</tr>
					<tr>
						<td>Entero Pequeño</td>
						<td>short </td>
						<td>Representa un tipo de dato de 16 bits con signo. De esta manera almacena valores numéricos de -32.768 a 32.767.</td>
					</tr>
					<tr>
						<td>Entero Largo</td>
						<td>long</td>
						<td>Es un tipo de dato de 64 bits con signo que almacena valores numéricos entre -263 a 263-1</td>
					</tr>
					<tr>
						<td>Real</td>
						<td>float</td>
						<td>Es un tipo dato para almacenar números en coma flotante con precisión simple de 32 bits.</td>
					</tr>
					<tr>
						<td>Real Largo</td>
						<td>double</td>
						<td>Es un tipo de dato para almacenar números en coma flotante con doble precisión de 64 bits.</td>
					</tr>
					
				</tbody>
				
				<tfoot>
					<tr>
						<td>Caracter</td>
						<td>char</td>
						<td>Es un tipo de datos que representa a un carácter Unicode sencillo de 16 bits.</td>
					</tr>
				</tfoot>

			</table>
			
				<h2>Tipos de Datos en Java</h2>
			<h3>Los tipos Referendia</h3>
			<p>En Java, los objetos se crean (instancian) a partir de clases y en ese momento se almacenan en
			espacios de memoria. Java gestiona la dirección en memoria de estos objetos. Para acceder a
			ellos Java asigna a cada objeto creado una “referencia”.
			Esta referencia, conceptualmente hablando es similar a la dirección de una casa. Para ubicar una
			casa recurrimos a la dirección. La referencia de un objeto permite acceder al objeto en memoria.
			Los elementos que permiten generar instancias (objetos) son las clases de la biblioteca de Java,
			las clases creadas por los programadores, las interfaces, los arreglos y las colecciones. En
			definitiva, los tipos referencias son los objetos que se crean a partir de las entidades
			mencionadas en la oración precedente. Más detalles sobre el funcionamiento en memoria de
			las referencias se verán más adelante. </p>
			
		</section>
		
		<br/>
		<section class="section_s2" id="metodos">
		
			<h2>¿Que Son los Metodos?</h2>
			<h3>Los métodos: </h3>
			<p> Son las secciones de una clase destinadas a la
			codificación de los algoritmos. Por lo tanto, el objetivo de un método es ejecutar un algoritmo
			o porción de código. </p>
			<h3>Estructura General: </h3>
			<img alt="metodo" src="../imagenes/metodos visual java tp3.PNG"> 
			<h3>Donde: </h3>
			<ul>
				<li>Especificaciones: Opcional. Define el modificador de acceso del método (public, private, protected o default si no se especifica). Normalmente se usa "public", lo que permite que el método sea accesible desde cualquier entidad que lo requiera.</li>
				<li>tipoDevuelto: Obligatorio. Indica si el método devuelve un valor y, en caso afirmativo, el tipo de dato que devuelve. Se utiliza "void" si el método no devuelve ningún valor.</li>
				<li>Lista de parámetros: Obligatorio. Es el nombre que identifica al método y describe qué hace el algoritmo dentro del mismo.</li>
				<li>throws listaExcepciones: Opcional. Se encuentra entre paréntesis después del nombre del método y consiste en una lista de parámetros separados por comas. Cada parámetro especifica su tipo y nombre. Los paréntesis son obligatorios incluso si el método no recibe parámetros.</li>
				<li>Instrucciones: Opcional. Indica las excepciones que el método puede generar y manejar.
					Instrucciones: Todo el código entre las llaves del método. Se utiliza para escribir las instrucciones que el método ejecutará.</li>
				<li>return: Se utiliza para devolver un valor del método. Debe seguirse de una expresión que será evaluada y cuyo tipo coincidirá con "tipoDevuelto". Si el método no devuelve ningún valor (tipoDevuelto = void), no es necesaria la instrucción return.</li>
			</ul>
			
		</section>
		
		<section class="section_s3" id="nomenclatura">
			<h2>NOMENCLATURA</h2>
			<h3>Nomenclatura para la definición de nombres de métodos: </h3>
			<ol>
				<li>Los nombres de los métodos deben ser verbos en infinitivo (terminación ar, er o ir).</li>
				<li>La primera letra del nombre del método debe ser escrita en minúscula.</li>
				<li>El resto de la palabra debe ser escrita en minúscula.</li>
				<li>En caso de conformar el nombre del método con varias palabras se indica la distinción
					de cada una de ellas con su primera letra en mayúscula.</li>
			</ol>
			
		</section>
		
		<aside class="aside">
		<h2>RESUMEN BREVE DE JAVA </h2>
		<h3>Mas informacion Click en la Imagen Esto lo llevara a la Documentacion de Java</h3>
		<a href="https://www.oracle.com/java/technologies/javase-documentation.html" target =“_blank”><img alt="aside de JAVA" src="../imagenes/Java_Features.png" width="450px" height ="460px"> </a>
		
		</aside>
		
	</main>
	
<footer id="footer">
		<h3 class="footer_title">Quienes Somos</h3>
		<div class="container_Futer">
		
			<a href="https://www.facebook.com/manuelsantiago.mendoza.56/" target =“_blank”><img alt="facebook" src="../imagenes/logoFacebook.png" width="30px" height ="30px"> Facebook</a>
			<a href="https://www.linkedin.com/in/manuel-santiago-mendoza-354224237/" target =“_blank”><img alt="facebook" src="../imagenes/linkeding.png" width="30px" height ="30px"> Linkeding</a>
			<a href="https://www.instagram.com/p/B2pxvKsgGU7/" target =“_blank”><img alt="facebook" src="../imagenes/instagramlogo.png" width="30px" height ="30px"> Instagram</a><br>
						
		</div>
		<img alt="gmail" src="../imagenes/correo.png" width="30px" height ="30px" > manuumendozaa05@gmail.com
		<p class="desciptionF">2024 Mendoza Manuel Santiago LU:4236 | Todos los derechos Reservados</p> 	
	</footer>
</body>

</html>