<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Programacion en Java</title>
</head>

<body>
	<header>
		<h1>PROGRAMANDO CON JAVA</h1>
		
		<!-- MENU DE NAVEGACION  -->
		<nav>
			<a href="index.html">Datos en Java</a>
			<br/>
			<a href="ser.html">Metodos</a>
			<br/>
			<a href="contact.html">Metodos</a>
		</nav>
	
	</header>
	
	<main>
		<!-- SECCIONES DENTRO DE LA PAGINA  -->
		<section>
			<h2>Tipos de Datos en Java: </h2>
			<h3>Datos Primitivos</h3>
			<p>Son definiciones dentro del lenguaje que no son objetos. Todos los tipos numéricos están
			firmados (esto significa que a pesar de no ser objetos representan el mismo tipo y alcance en
			cualquier plataforma que se ejecute). Para lograr esto, al definir una variable con un tipo
			primitivo, el lenguaje almacena en memoria un espacio de memoria, este espacio de memoria
			permite representar el rango de valores que se le puede asignar a la variable según el tipo de
			datos primitivo usado. Esto significa que al declarar una variable primitiva se asume que
			consumirá memoria, aunque no se la use desde el principio de ejecución del programa ya que
			se le asigna un espacio en memoria al momento de declararse. Los primitivos poseen valores
			por defecto y este valor depende del tipo de dato. </p>
			
			<h3>Ejemplo</h3>
			<table border="1" >
				<thead>
					<tr>
			            <th>Nombre</th>
			            <th>Declaracion</th>
			            <th>Descripcion</th>
			        </tr>
				</thead>
						
				<tbody>
				
					<tr>
						<td>Boolean</td>
						<td>boolean</td>
						<td>Sirve para definir tipos de datos booleanos. Es decir, aquellos que tienen un valor de true o false. Ocupa 1 bit de información.</td>
					</tr>
					<tr>
						<td>Byte</td>
						<td>byte</td>
						<td>Representa un tipo de dato de 8 bits con signo. De tal manera que puede almacenar los valores numéricos de -128 a 127 (ambos inclusive).</td>
					</tr>
					<tr>
						<td>Entero Pequeño</td>
						<td>short </td>
						<td>Representa un tipo de dato de 16 bits con signo. De esta manera almacena valores numéricos de -32.768 a 32.767.</td>
					</tr>
					<tr>
						<td>Entero Largo</td>
						<td>long</td>
						<td>Es un tipo de dato de 64 bits con signo que almacena valores numéricos entre -263 a 263-1</td>
					</tr>
					<tr>
						<td>Real</td>
						<td>float</td>
						<td>Es un tipo dato para almacenar números en coma flotante con precisión simple de 32 bits.</td>
					</tr>
					<tr>
						<td>Real Largo</td>
						<td>double</td>
						<td>Es un tipo de dato para almacenar números en coma flotante con doble precisión de 64 bits.</td>
					</tr>
					<tr>
						<td>Caracter</td>
						<td>char</td>
						<td>Es un tipo de datos que representa a un carácter Unicode sencillo de 16 bits.</td>
					</tr>
				</tbody>
				
				<tfoot>
				</tfoot>
				
				
				
			</table>
			
		</section>
			
		<section>
			<h2>Tipos de Datos en Java</h2>
			<h3>Los tipos Referendia</h3>
			<p>En Java, los objetos se crean (instancian) a partir de clases y en ese momento se almacenan en
			espacios de memoria. Java gestiona la dirección en memoria de estos objetos. Para acceder a
			ellos Java asigna a cada objeto creado una “referencia”.
			Esta referencia, conceptualmente hablando es similar a la dirección de una casa. Para ubicar una
			casa recurrimos a la dirección. La referencia de un objeto permite acceder al objeto en memoria.
			Los elementos que permiten generar instancias (objetos) son las clases de la biblioteca de Java,
			las clases creadas por los programadores, las interfaces, los arreglos y las colecciones. En
			definitiva, los tipos referencias son los objetos que se crean a partir de las entidades
			mencionadas en la oración precedente. Más detalles sobre el funcionamiento en memoria de
			las referencias se verán más adelante. </p>
			
			
			
		</section>
		
		<section>
		
			<h2>¿Que Son los Metodos?</h2>
			<h3>Los métodos: </h3>
			<p> s son las secciones de una clase destinadas a la
			codificación de los algoritmos. Por lo tanto, el objetivo de un método es ejecutar un algoritmo
			o porción de código. </p>
			
		</section>
		
	</main>
	
	<footer>
	pie de pagina
	</footer>
	
</body>

</html>